In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from collections import Counter
from nltk.stem import SnowballStemmer

In [38]:
dir = 'C:/_dados/_donors/'
stemmer = SnowballStemmer("english")

In [3]:
train = pd.read_csv(dir + 'train.csv', sep=',',index_col=0, dtype={11:'str',12:'str'})
test = pd.read_csv(dir + 'test.csv', sep=',',index_col=0, dtype={11:'str',12:'str'})
resources = pd.read_csv(dir + 'resources.csv', sep=',',index_col=0)

In [17]:
def _stemmer(text):
    s = text.split(' ')
    s2 = [stemmer.stem(str(x)) for x in s]
    return ' '.join(s2) 
print(_stemmer('hi cats dogs generously'))

def _cleaner(text):
    clean_line = text.upper()
    clean_line = re.sub("\\\\[RNT]", "", clean_line)
    clean_line = re.sub("[^A-Z ]+", "", clean_line)
    clean_line = re.sub("\s\s+", " ", clean_line)
    clean_line = re.sub("NANNAN", "", clean_line)
    return clean_line
print(_cleaner('jnij4r34 r34r 34 rfrvsdv 34f3rf3foro34f     r34fr3f3f34'))

hi cat dog generous
JNIJR RR RFRVSDV FRFFOROF RFRFF

In [9]:
train.groupby('project_subject_categories')['project_is_approved'].mean().sort_values(ascending = False)

project_subject_categories
Warmth_Care_Hunger                      0.921953
Health_Sports,Warmth_Care_Hunger        0.903226
History_Civics,Health_Sports            0.900000
Literacy_Language,History_Civics        0.890494
History_Civics,Literacy_Language        0.885490
Literacy_Language                       0.869858
Literacy_Language,Math_Science          0.867219
Music_The_Arts,Special_Needs            0.863830
Applied_Learning,Literacy_Language      0.861208
Health_Sports,Special_Needs             0.861064
Math_Science,Literacy_Language          0.861046
Literacy_Language,Applied_Learning      0.859345
Math_Science,History_Civics             0.858326
Literacy_Language,Special_Needs         0.854450
History_Civics,Math_Science             0.853333
Health_Sports,Applied_Learning          0.851852
Music_The_Arts                          0.850006
Health_Sports,Math_Science              0.848936
Health_Sports,Literacy_Language         0.847859
Health_Sports                           0.846794
Literacy_Language,Warmth_Care_Hunger    0.840000
Literacy_Language,Music_The_Arts        0.838777
Math_Science,Applied_Learning           0.832448
History_Civics                          0.831974
Math_Science,Music_The_Arts             0.827961
Special_Needs,Music_The_Arts            0.827255
Math_Science,Special_Needs              0.825581
History_Civics,Music_The_Arts           0.821691
Math_Science                            0.821082
Health_Sports,History_Civics            0.820896
History_Civics,Special_Needs            0.815348
Applied_Learning                        0.814897
Applied_Learning,Health_Sports          0.813360
Applied_Learning,Special_Needs          0.811769
Applied_Learning,Music_The_Arts         0.809831
Special_Needs                           0.809483
Applied_Learning,Math_Science           0.803624
Applied_Learning,History_Civics         0.795380
Music_The_Arts,History_Civics           0.793103
Health_Sports,Music_The_Arts            0.782443
Math_Science,Health_Sports              0.780488
Literacy_Language,Health_Sports         0.771654
Special_Needs,Warmth_Care_Hunger        0.771429
Special_Needs,Health_Sports             0.765625
History_Civics,Applied_Learning         0.753846
Music_The_Arts,Applied_Learning         0.714286
Music_The_Arts,Warmth_Care_Hunger       0.666667
Music_The_Arts,Health_Sports            0.656250
Applied_Learning,Warmth_Care_Hunger     0.636364
Math_Science,Warmth_Care_Hunger         0.631579
History_Civics,Warmth_Care_Hunger       0.000000
Name: project_is_approved, dtype: float64

In [5]:
train['project_subject_categories'] =  train['project_subject_categories'].str.replace('Warmth,','Warmth').str.replace(', ',',').str.replace('& ','').str.replace(' ','_')

In [6]:
train[['cat1','cat2']] = train['project_subject_categories'].str.split(',', expand=True)

In [7]:
resources['total'] = resources.quantity * resources.price
expenses = resources.groupby('id')['total'].sum()
expenses.head()

id
p000001     833.63
p000002     630.28
p000003     298.97
p000004    1126.22
p000005     702.31
Name: total, dtype: float64

In [10]:
number_of_items = resources.groupby('id')['total'].count()
number_of_items.head()

id
p000001     4
p000002    14
p000003     4
p000004    95
p000005     4
Name: total, dtype: int64

In [28]:
train2 = train.join(expenses)
train2 = train2.join(number_of_items,rsuffix='1')
train2.rename(columns={'total1':'qnty'}, inplace=True)
train2 = train2
train2.head()

,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,cat1,cat2,total,qnty
id,,,,,,,,,,,,,,,,,,,
p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy_Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1,Literacy_Language,None,899.94,2
p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music_The_Arts,Health_Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0,Music_The_Arts,Health_Sports,400.00,1
p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math_Science,Literacy_Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1,Math_Science,Literacy_Language,469.99,1
p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health_Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0,Health_Sports,None,684.47,5
p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health_Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1,Health_Sports,None,711.00,1

In [29]:
train2['full_text'] = train2['project_essay_1'].astype(str)+train2['project_essay_2'].astype(str)+train2['project_essay_3'].astype(str)+train2['project_essay_4'].astype(str)
train2['full_text'] = train2.full_text.map(_cleaner)
train2['stem'] = train2.full_text.map(_stemmer)
train2.head()

,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,...,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,cat1,cat2,total,qnty,full_text,stem
id,,,,,,,,,,,,,,,,,,,,,
p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy_Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,...,NaN,My students need 6 Ipod Nano's to create and d...,26,1,Literacy_Language,None,899.94,2,MOST OF MY KINDERGARTEN STUDENTS COME FROM LOW...,most of my kindergarten student come from lowi...
p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music_The_Arts,Health_Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,...,NaN,My students need matching shirts to wear for d...,1,0,Music_The_Arts,Health_Sports,400.00,1,OUR ELEMENTARY SCHOOL IS A CULTURALLY RICH SCH...,our elementari school is a cultur rich school ...
p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math_Science,Literacy_Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,...,NaN,My students need the 3doodler. We are an SEM s...,5,1,Math_Science,Literacy_Language,469.99,1,HELLOMY NAME IS MRS BROTHERTON I TEACH TH GRAD...,hellomi name is mrs brotherton i teach th grad...
p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health_Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",...,NaN,My students need balls and other activity equi...,16,0,Health_Sports,None,684.47,5,MY STUDENTS ARE THE GREATEST STUDENTS BUT ARE ...,my student are the greatest student but are so...
p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health_Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,...,NaN,My students need a water filtration system for...,42,1,Health_Sports,None,711.00,1,MY STUDENTS ARE ATHLETES AND STUDENTS WHO ARE ...,my student are athlet and student who are inte...

In [30]:
groups = []
for x in train2.groupby('cat1')['cat1'].head(1):
    if x not in groups: groups.append(x)
groups

['Literacy_Language',
 'Music_The_Arts',
 'Math_Science',
 'Health_Sports',
 'Applied_Learning',
 'Special_Needs',
 'History_Civics',
 'Warmth_Care_Hunger']

In [31]:
text = train2.index +';'+ train2['project_is_approved'].astype(str) +';'+ train2['cat1'].astype(str) +';'+ train2['stem'].astype(str)

In [40]:
with open(dir+'/consolidated.txt', 'w') as t1:
    with open(dir+'/consolidated_text.txt', 'w') as t2:
        for line in text:
            try:
                idx,approved,g,line = line.split(';',3)
                t2.write(str(idx)+';'+str(approved)+';'+str(g)+';'+str(line) + '\n')
                con = Counter(line.split()).items()
                for item in con:
                    a,b = item
                    t1.write(str(idx)+';'+str(approved)+';'+str(g)+';'+str(a)+';' + str(b) + '\n')
            except:
                print('.', end='',flush=True)

In [47]:
consolidated = pd.read_csv(dir+'consolidated.txt',delimiter=';',names=['id','approved','group','stem','number'])
consolidated_text = pd.read_csv(dir+'consolidated_text.txt',delimiter=';',names=['id','approved','group','stem'])

In [ ]:
for group  in groups:
    with open(dir+'matriz_'+group+'.csv','w') as f:
        print(group)
        st = consolidated[consolidated.group == group]
        st2 = consolidated_text[consolidated_text.group == group]
        steemed = st.groupby(['stem','approved'],as_index = False)['number'].agg('sum').pivot('stem','approved').fillna(0)
        steemed['grade'] = steemed.min(axis=1) / steemed.max(axis=1)
        steemed = steemed[(steemed.max(axis=1) >= 10)]
        steemed = steemed.sort_values('grade')
        steemed = steemed[:5000]
        #display(st2.head())
        words = steemed.index.tolist()
        f.write('id;approved;'+';'.join(words) + '\n')

        for i,l in st2.iterrows():
            linha = str(l.id) + ';' + str(l.approved)
            v = l.stem.split(" ")
            for word in words:
                linha += ';'+ str((word in v)*1)
            f.write(linha + '\n')

Literacy_Language